---
layout: default
---
<article class="page">
    <h1 class="page-title" id="page-title">
        {{ page.title }} Homework
    </h1>

    <div class="page-content">
        <h3>Wireshark Lab</h3>
        <ol>
            {% for lab in page.wireshark_labs %}
            <li>{{ lab }}</li>
            {% endfor %}
        </ol>

        <h3>Book Problems (Chapter {{ page.chapter }})</h3>
        <ol start="{{ page.wireshark_labs | size | plus: 1 }}">
            {% for problem in page.problems %}
            <li>{{ problem }}</li>
            {% endfor %}
        </ol>
    </div>
</article>